@import '../common/mixins';

form label {
  font-weight: 500;
}

form label.error {
  display: block;
  margin-top: 10px;
  margin-bottom: 0px;
  font-weight: normal;
  color: lighten( red, 20% );
}

.add-giveaway-form .react-tagsinput, .add-giveaway-form .react-tagsinput--focused {
  position: static;
}

.insertDialog>div>div {
    width: 96% !important;
    margin: -60px auto !important;
    overflow: hidden;
    >div>div{
      @include media-sm-up { max-height: 640px !important; }
      @include media-sm-down { max-height: 400px !important; }
    }
}

.formBtn > button {
    height: 41px !important;
}

.formBtn > button > div > div {
    height: 42px !important;
}

.form-box {
  margin-bottom: 20px;
  @include media-xs-only { margin-bottom: 10px; }
}
