@import '../common/mixins';

.giveaway-ratings {
  .container { width: 100%; }
  .num_ratings { line-height: 48px; }
  .voted span.material-icons { color: #0C4B86 !important; }
}

.giveaway {
  h3 { margin-top: 10px; }

  .description {
    line-height: 20px;
    &.lines-1 { max-height: 20px; }
    &.lines-2 { max-height: 40px; }
    &.lines-3 { max-height: 60px; }
    &.lines-4 { max-height: 80px; }
  }

  .small-text { color: #9e9e9e; font-size: 12px; }
}

.giveaway-infobox {
  .photo-avatar {
    img { display: block; max-height: 350px; width: calc(100% - 40px); margin: 0 auto 20px; @include border-radius(1000px); object-fit: cover; }
  }
  p.category { font-weight: 300; }
}

.giveaway-timeline-item {
  cursor: pointer;

  .photo-avatar, .icon-avatar { @include transition-standard(opacity 450ms); }
  &:hover {
    .photo-avatar, .icon-avatar { opacity: 0.8; }
  }

  .icon-avatar {
    height: 100%; text-align: center; display: flex; justify-content: center; align-items: center;
    @include media-xs-only { font-size: 40px; }
    @include media-sm-up { font-size: 64px; }
  }

  .footer-actions {
    color: #9e9e9e; font-size: 14px; line-height: 20px; display: flex; flex-direction: row; justify-content: flex-end; padding: 5px 0;
    div { margin-left: 10px; }
  }
}

.giveaway-card {
  margin-bottom: 20px;

  .flex-row {
    padding: 15px 10px; // More padding because of Paper's edges
  }
}

.giveaway-single {
  .photo-avatar {
    img { display: block; width: 100%; @include border-radius(1000px); object-fit: cover; }
  }

  .icon-avatar {
    position: relative; @include border-radius(1000px); object-fit: cover;
    &:before {  content: ""; display: block; padding-top: 100%; }

    > * {
      position: absolute; top: 0; bottom: 0; left: 0; right: 0;
      height: 100%; text-align: center; display: flex; justify-content: center; align-items: center;
    }
  }

  .photo-avatar, .icon-avatar {
    @include media-xs-only { width: 90%; margin: 20px auto; font-size: 120px; }
    @include media-sm-up { width: 95%; margin: 0 auto; font-size: 64px; }
  }
}

.photo-avatar {
  display: block; width: 100%; height: 100%; background-size: cover; background-position: center center;
}

.info-row {
  line-height: 25px;
  .info-row-icon { width: 20px; display: inline-block; margin-right: 10px; vertical-align: top; }
  .info-row-text { width: calc(100% - 30px); display: inline-block; }
}
