#header-bar {
  h1 {
    text-align: center !important; font-size: 20px !important; font-weight: 400; letter-spacing: 4px !important; text-transform: uppercase;
    @media (max-width:767px) { font-size: 16px !important; }
  }

  > button, > #header-right-buttons { position: absolute !important; }
  #header-right-buttons > div { float: right; margin-left: 10px; }

  #header-profile {
    button { padding: 0 !important; }
  }
}
#header-profile-popover {
  padding: 0 !important;
  span { font-size: 13px !important; }
  span > div > div { padding: 5px 12px !important; }
}

#drawer-menu-items { font-weight: 300; height: calc(100% - 27px); }
.iubenda-button { float: right; margin: 0 5px; }

.menu-logo {
  img { display: block; width: calc(100% - 20px); max-width: 150px; margin: 10px auto 10px; }
}

.menu-logo-subheader {
    text-align: center;
    margin-top: -36px;
    padding-left: 0 !important;
    letter-spacing: 2px !important;
    color: #f099a0 !important;
}
