.MeteorToys pre {
  background-color: inherit;
}

.divider-with-text {
  text-align: center; height: 41px;
  hr { margin: 0; position: relative; top: 20px; }
  span { position: relative; display: inline-block; padding: 0 10px; background-color: #fff; line-height: 41px; font-size: 12px; font-weight: 500; color: #999; }
}
