.divider-with-text {
  text-align: center; height: 41px;
  hr { margin: 0; position: relative; top: 20px; }
  span { position: relative; display: inline-block; padding: 0 10px; background-color: #fff; line-height: 41px; font-size: 12px; font-weight: 500; color: #999; }
}

// Avatar
.avatar { background-size: cover !important; }

// Text wrapping
[class^="lines-"], [class*=" lines-"] { display: block; }
.lines-1 { white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }

// Loading
.loading-container { display: flex; width: 100%; justify-content: center; padding: 20px; }

// Flex Button Container
.action-buttons { display: flex; flex-direction: row; justify-content: center; align-items: center; }

// Search Box
.search-box {
  background-color: rgba(#90a4cf, 0.25); padding: 0 10px;
}
