@import "../common/_mixins";

.profile.card { margin: 0; }

.user-stats {
  list-style-type: none; padding: 0;
  li { margin-right: 20px; }
}

.profile-map { height: 800px; position: relative; border-top: 1px solid #e0e0e0; overflow: hidden; }

.profile-header {
  @include media-xs-only {
    h1 { margin-top: 10px; font-size: 26px; }
  }

  .role-chips {
    display: inline-block; vertical-align: middle; margin-left: 10px;
  }

  .social-links {
    margin-bottom: 5px;
    a.social-link {
      color: #c1c9da;
      &:hover { color: #8595b7; }
    }
  }

  .community-display {
    margin-right: 5px;
    .material-icons { vertical-align: top; }
    &:not(:last-child):after { padding-left: 5px; content: '\0000B7' }
  }
}
