@import "../common/_mixins";

.schoolCommunity{
  background-color: #000000;
  cursor: pointer;
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  &:hover{ background-color: $primary-color}
  @include transition-standard(background-color 225ms);
  @include media-md-down { margin-bottom: 6%; }
  @include media-md-up { margin-bottom: 0; }
}
