#timeline-search {
  background-color: rgba(#90a4cf, 0.25); padding: 0 10px;
}

#timeline-tabs {
  margin: 0 -15px 0;
  @include media-sm-up { margin: 30px auto 0; }
}

#timeline-view-bar {
  margin: 5px 0; text-align: right;
  @include media-sm-up { margin: 5px auto 10px; }
}
