form>.container>.row>{
	.col-md-8{
    	padding-left: 0;
      padding-right: 0;
	}
	.col-md-6{
    	padding-left: 0;
	}
	.col-md-4{
    	padding-left: 0;
	}
	.col-md-2{
    	padding-left: 0;
	}
  .col-md-4.col-xs-12{
      padding-left: 0;
  }
  .col-md-2.col-sm-3.col-xs-6 {
      padding-left: 0;
  }
}

form label {
  font-weight: 500;
}

form label.error {
  display: block;
  margin-top: 10px;
  margin-bottom: 0px;
  font-weight: normal;
  color: lighten( red, 20% );
}

.add-giveaway-form .react-tagsinput, .add-giveaway-form .react-tagsinput--focused {
  position: static;
}

.insertDialog>div>div {
    width: 96% !important;
}