html body {
  &, .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, p { font-family: Roboto, sans-serif; color: #444; }
  .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 { font-weight: 300; }
}

html, html body { background-color: #fcfcfc; height: 100%; }

.full-container {
  position: relative;
  height: 100%;
  width: 100%;
  left: 0;
  overflow: hidden;
}

// Making my own Flexbox Grid (!!)

.flex-row {
  display: flex; flex-direction: row; align-items: stretch; padding: 15px 0;

  .col {
    padding: 0 15px; float: none !important;
    &.nopad { padding: 0; margin: -15px 0; }
  }
}
