html body {
  &, .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, p { font-family: Roboto, sans-serif; color: #444; }
  .h1, .h2, .h3, .h4, h1, h2, h3, h4 { font-weight: 300; }
  .h5, .h6, h5, h6 { font-weight: 400; color: #9c9c9c }
}

html, html body { background-color: #eef0f3; height: 100%; }

a.button:hover { text-decoration: none; }

.full-container {
  position: relative;
  height: 100%;
  width: 100%;
  left: 0;
  overflow: hidden;
}

// Making my own Flexbox Grid (!!)

.flex-row {
  padding: 15px 0;
  &.nopad { padding: 0; }

  .col {
    padding: 0 15px; float: none !important;
    &.nopad { padding: 0; margin: -15px 0; }
    &.somepad { padding: 18px; margin: -15px 0; }
  }
}
