@mixin border-radius($args) {
  -ms-border-radius: $args;
  -o-border-radius: $args;
  -webkit-border-radius: $args;
  -moz-border-radius: $args;
  border-radius: $args;
}
@mixin transition($args) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -o-transition: $args;
  transition: $args;
}
@mixin transition-all($args) {
  -webkit-transition: all $args;
  -moz-transition: all $args;
  -o-transition: all $args;
  transition: all $args;
}
@mixin transform($args) {
  -webkit-transform: $args;
  -moz-transform: $args;
  -o-transform: $args;
  -ms-transform: $args;
  transform: $args;
}
@mixin transform-origin($args) {
  -webkit-transform-origin: $args;
  -moz-transform-origin: $args;
  -o-transform-origin: $args;
  -ms-transform-origin: $args;
  transform-origin: $args;
}
